<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Book Shop. Assignment for Server Side Programming Module" />
    <meta name="author" content="Leonardo Souza de Oliveira" />
    <title>Book Shop</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="script.js"></script>


</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">🏫 Smithfield Market Book Shop 📘 📙 📕</a>
        </div>
    </nav>


    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1>Welcome to our Book Shop 📖</h1>
            <p class="lead">Select the publications you are looking for 🔍 </p>
        </div>

        <div class="row">
            <div id="menu" class="col-lg-4 mb-5 order-1" name="themenu">
                <form>
                    <div class="form-group">
                        <select class="form-select" id="booklist" onchange="populateTypeBook()"></select>

                        <select class="form-select mt-3" id="optionbooklist"></select>

                        <input class="form-control mt-3" type="text" name="item" placeholder="Amount" id="txtAmount">
                        <div class="d-grid gap-2 mt-3">
                            <button type="button" onclick="addSelected()" class="btn btn-primary btn-block">Add</button>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" onclick="deleteRow()" class="btn btn-danger btn-block mt-3">Delete</button>
                        </div>
                        <br>
                        <br>
                        <div>
                            <h3>List of Selected Books:</h3>

                            <div class="d-grid gap-2 mt-3">
                                <table id="tdisplay">
                                    <thead>
                                        <tr>
                                            <th>Book Name</th>
                                            <th>Price</th>
                                            <th>Amount</th>
                                            <th>Total</th>
                                            </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>


    </div>
    <p align="right">Leonardo Souza de Oliveira, Student No.:2021361</p>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>